*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 980px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 15px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  max-width: 1200px;
  padding: 0 50px;
}
